<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h2>Game Connection Buy and Sell Your Favorite Games!</h2>
        <div style="text-align: center;">
            <img src="/images/xbox.png" alt="Xbox logo" style="width: 200px; height: auto;">
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>







